body {
    @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
    font-family: "Roboto Mono", monospace;
    overflow-x: hidden;
    scroll-behavior: smooth;
  
    background-color: #f4eee0;
  }
  
  #wstep {
    text-align: center;
    margin-top: 30px;
  }
  
  #o-mnie {
    text-align: center;
  }
  
  #kontakt {
    margin-left: 90px;
  }
  
  #clock {
    text-align: right;
    margin-top: 20px;
  }
  
  #h1Projekty {
    text-align: center;
    font-size: 25px;
  }
  
  .stopka {
    text-align: center;
    font-size: 12px;
  }
  
  .credit {
    text-decoration: none;
    color: #ff6000;
  }
  
  #lista_projektow {
    margin-top: 60px;
    text-align: left;
    margin-left: 50px;
  }
  
  .projekty {
    text-decoration: none;
    color: tomato;
  }
  
  #zdjecie {
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    
  }
  
  /* obrazki */
  #lista_zadan {
    max-width: 100%;
    max-height: auto;
    padding: 30px;
    width: 45%;
  
  }
  
  #bezpieczenstwo {
    max-width: 100%;
    max-height: auto;
    padding: 30px;
    width: 45%;
  }
  
  #wisielec {
    max-width: 100%;
    max-height: auto;
    padding: 30px;
    width: 45%;
  }
  
  /* ikonki */
  .logo {
    height:50px;
    width: 50px;
    position: relative;
    vertical-align: middle;
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* HAMBURGER */ /* This burger isn't mine, original creator is Erik Terwan*/
  #menuToggle {
    display: block;
    position: relative;
    top: 0px;
    left: 50px;
  
    z-index: 1;
  
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #f4eee0;
  
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: tomato; /* Zaznaczenie tekstu jak się najedzie myszką */
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  
    cursor: pointer;
  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
  
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: #393646; /* Kolor burgera */
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: red; /* Kolor przycisku zamknij */
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
  
    background: #6d5d6e;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  
  /* SCROLLBAR */
  
  /* width */
  ::-webkit-scrollbar {
    width: 8.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f4eee0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #abc4aa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #abc4aa;
  }
  